body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.png);
    background-size: cover !important;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}
h1 {
    color: #333;
    margin-bottom: 30px;
}
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.dashboard button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #5a67d8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dashboard button:hover {
    background-color: #434190;
}